extends ../layouts/main

block content
    div.row.justify-content-center
        h2.text-center Crear un nuevo producto
        hr
        div.col-md-6
            form(action="/api/productos", method="POST", class="text-center") 
                input(type="text", name="title", placeholder="Titulo del producto", class="form-control mb-2")
                input(type="text", name="price", placeholder="Precio del producto", class="form-control mb-2")
                input(type="text", name="thumbnail", placeholder="Imagen del producto", class="form-control mb-2")
                button(type="submit", class="btn btn-outline-success mt-2 btn-sm me-2") Enviar Producto
                a(href="/productos", class="btn btn-outline-info mt-2 btn-sm") Ver listado de productos