<div class="row">
    <h2>Crear un nuevo producto</h2>
    <hr>
    <div class="col-md-6">
        <form action="/api/productos" method="POST" class="text-center">
            <input type="text" name="title" placeholder="Titulo del producto" class="form-control mb-2">
            <input type="text" name="price" placeholder="Precio del producto" class="form-control mb-2">
            <input type="text" name="thumbnail" placeholder="Imagen del producto" class="form-control mb-2">
            <button type="submit" class="btn btn-outline-success btn- mt-2 btn-sm me-2">Enviar producto</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-12 mt-2">
        <h2>Productos registrados</h2>
        <hr>
        <a class="btn btn-outline-success btn-sm float-end" href="/productos/create">Crear producto</a>
        <table class="table table-striped table-condensed">
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>
            </thead>   
            <tbody id="productos">
                {{#each productos }}
                    <tr>
                        <td>{{ this.title }}</td>
                        <td>$ {{ this.price }}</td>
                        <td>
                            <img src="{{ this.thumbnail }}" class="img-thumbnail ancho-img-product"/>
                        </td>
                    </tr>
                {{/each }}
            </tbody>
        </table>
    </div>
</div>

<script>
    var socket = io();
    socket.on('new-product', data => {
        let tbody = document.getElementById('productos');
        tbody.insertRow().innerHTML = `
            <td>${data.title}</td>
            <td>${data.price}</td>
            <td>
                <img src="${data.thumbnail}" class="img-thumbnail ancho-img-product"/>
            </td>
        `
    });
</script>